# Server configuration
PORT=8080

# Security
JWT_SECRET=your_jwt_secret_key

# Databases & Cache
# Database URL for PostgreSQL (GORM)
DATABASE_URL=postgresql://user:password@host:port/database_name?sslmode=disable
# Redis configuration
REDIS_ADDR=host:port
REDIS_PASSWORD=your_redis_password

# Message Broker
# RabbitMQ AMQP URL
AMQP_URL=amqp://guest:guest@localhost:5672/

# Media Uploads (Cloudinary)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
